<div>
  <div>
    <form action="/questions/add" method="POST" id="new-question-form">
      <input type="text" name="question" placeholder="Enter your question" />
      <input type="text" name="topic" placeholder="Enter the topic" />
      <input
        type="text"
        name="tags"
        placeholder="Enter the tags"
        id="tags-input"
      />
      <input type="submit" value="submit" />
    </form>
  </div>
</div>
